# the actual serving address
serveAddr: "0.0.0.0:8080"
# needs to be external endpoint,
# e.g https://mydomain.com
url: "http://192.168.122.87:8080"
# randomized hex string should go here
sessionStore: "lgtm-rsvp"
# leave it
db: 
  addr: "data/rsvp.db"
  initFile: "init.sql"
# USE OAUTH IN PRODUCTION!!!
# ID MUST BE YOUR EMAIL
# EVEN IF YOU DO NOT USE OAUTH2
# UNCOMMENTING OAUTH SECTION
# MEANS USING ONLY OAUTH FOR ADMIN SIGN IN
# EVEN IF YOU PROVIDED PW
admin:
  id: seantywork@gmail.com
  pw: sample
#  oauth:
#    clientId:""
#    projectId: ""
#    authUri: ""
#    tokenUri: ""
#    authProviderX509CertUrl: ""
#    clientSecret: ""
#    redirectUris: 
#      - ""
#      - ""
title: "Taehoon & Suya"
groom: "윤태훈"
bride: "반수야"
comment: "HAPPILY EVER AFTER"
message: |
  long message goes here <br><br>
  like this <br><br>
  over <br><br>
  multiple lines <br><br>
# external link for gift page, something like PayPal
giftPage: "#"
# uncomment googleComment, for using Google mail service for user comments, 
# hence Google mail api should be configured accordingly. 
# The value is Google mail app password.
# uncomment kakaoShare, for using Kakao share button on index page, 
# hence Kakao developer setting should be configured accordingly. 
# The value is Kakao developer Javascript API key.
api:
#  googleComment: ""
#  kakaoShare: ""