{{ define "signin.html" }}
<!doctype html>
<html class="tui-bg-blue-black">

    <head>
        <title> sign in </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>

    <body>
        <div class="container">
            <div class="row">
              <div class="col s12 m12 l12">sign in</div>
            </div>
            <div class="row">
                <div class="col s12 m12 l12">
                    <div class="tui-window tui-scroll-white">
                        <fieldset class="tui-fieldset tui-border-double">
                            <legend>sign in</legend>
                            <fieldset class="tui-fieldset tui-border-dotted">
                                <div>
                                    <input class="tui-input purple-255" type='text' id='user-id'/>
                                    <label for='user-id'>Enter ID</label>
                                </div>
                            </fieldset>
                            <fieldset class="tui-fieldset tui-border-dotted">
                                <div>
                                    <input class="tui-input purple-255" type='password' id='user-pw'/>
                                    <label for='user-pw'>Enter Password</label>
                                </div>
                            </fieldset>
            
                            <br/>
                            <div>
                                <input class="tui-button" type="button" onclick="userSignin()" value="user login">
                            </div>
            
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>

        <script src="/public/js/common.js"></script>
    </body>

</html>
{{ end }}